---
layout: post
title: Welcome!
---

<style>
p {margin-left: 30px;}

.info {
color: #636363;
font-size: smaller;
margin: 2px 0 0 480px;
position: absolute;
text-align: right;
width: 240px;
}

.entity {
  margin-bottom: 35px;
}
</style>

<h1>{{ site.title }}</h1>

{% comment %}
{ for post in site.posts limit:5 }
{% endcomment %}
{% for post in site.posts %}
      <!--p><span>{{ post.date | date: '%B %d, %Y' }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></p-->
      <p class="entity">
        <span class="info"><i>{{ post.date | date: '%B %d, %Y' }}</i></span><a href="{{ post.url }}">{{ post.title }}</a><br>
        {{ post.abstract }}
      </p>
{% endfor %}

<!--p class="entity"><a href="/archive">More</a></p-->

{% include projects.html %}
{% include about.html %}