html {
  min-width: 1040px;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 4em;
  width: 960px;
  position: relative;
}

footer {
  font-size: small;
  margin-top: 8em;
}

aside {
  font-size: small;
  left: 780px;
  position: absolute;
  width: 180px;
}

aside, .comment {
  color: #636363;
}

p, li > p {
  line-height: 1.5em;
}

p {
  width: 720px;
}

blockquote {
  width: 640px;
}

li {
  width: 680px;
  margin-bottom: 10px;
}

a {
  color: steelblue;
}

a:not(:hover) {
  text-decoration: none;
}

pre, code, textarea {
  font-family: "Menlo", monospace;
}

code {
  line-height: 1em;
}

textarea {
  font-size: 100%;
}

pre {
  border-left: solid 2px #ccc;
  padding-left: 18px;
  margin: 2em 0 2em -20px;
}

h1.age_big {
  font-size: 224pt;
  text-align: center;
}

span.amp {
    font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', "Yanone Kaffeesatz", serif;
    font-style: italic;
    font-weight: normal;
}

/* CODE */
.html .value,
.javascript .string,
.javascript .regexp {
  color: #756bb1;
}

.html .tag,
.css .tag,
.javascript .keyword {
  color: #3182bd;
}

.comment {
  color: #636363;
}

.html .doctype,
.javascript .number {
  color: #31a354;
}

.html .attribute,
.css .attribute,
.javascript .class,
.javascript .special {
  color: #e6550d;
}

/* END CODE */

svg {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

sup, sub {
  line-height: 0;
}

q:before,
blockquote:before {
  content: "“";
}

q:after,
blockquote:after {
  content: "”";
}

blockquote:before {
  position: absolute;
  left: 2em;
}

blockquote:after {
  position: absolute;
}

h1 {
  font-size: 96px;
  margin-top: .3em;
  margin-bottom: 0;
}

h1 + h2 {
  margin-top: 0;
}

h2 {
  font-weight: 400;
  font-size: 28px;
}

h2 a {
  color: #ccc;
  left: -20px;
  position: absolute;
  width: 740px;
}

h1, h2 {
  font-family: "Yanone Kaffeesatz";
  text-rendering: optimizeLegibility;
}

.line {
  background: #000;
  opacity: .2;
  z-index: 2;
}

.vis, iframe {
  width: 960px;
  height: 500px;
  border: 1px solid #DEDEDE;
}

.grayout {
  color: #636363;
  opacity: .8;
}

.warning {
  box-shadow:0 8px 16px rgba(0,0,0,.1);
  background:#ffa;
  border:solid 1px #cc7;
  padding:1em;
  margin:2em 0 0 -1em;
}




