<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-12395541-8', 'jcla1.com');
    track_ga();

    function track_ga() {
        // Just send the pageview if PageVisibility is not supported
        if (!get_hidden_prop()) {
            ga('send', 'pageview');
            return;
        }

        if (document.visibilityState == 'prerender') {
            ga('send', 'event', 'pagedata', 'prerender');
            return;
        }

        if (!is_hidden()) {
            var timeout = setTimeout(function() {
                ga('send', 'pageview');
                setup_event_poller();
            }, 10000);

            document.addEventListener('visibilitychange', function() {
                document.removeEventListener('visibilitychange', arguments.callee);
                if (is_hidden()) clearTimeout(timeout);
            });

        } else {
            document.addEventListener('visibilitychange', function() {
                document.removeEventListener('visibilitychange', arguments.callee);
                track_ga();
            });
        }
    }

    function setup_event_poller() {
        var wait = 10000;
        setTimeout(event_poller.bind(null, 0, wait), wait);
    }

    function event_poller(timing, wait) {
        ga('send', 'event', 'time', 'log', String(timing));
        setTimeout(event_poller.bind(null, timing + wait / 1000, wait), wait);
    }

    function get_hidden_prop(){
        var prefixes = ['webkit','moz','ms','o'];

        // if 'hidden' is natively supported just return it
        if ('hidden' in document) return 'hidden';

        // otherwise loop over all the known prefixes until we find one
        for (var i = 0; i < prefixes.length; i++) {
            if ((prefixes[i] + 'Hidden') in document) {
                return prefixes[i] + 'Hidden';
            }
        }

        // otherwise it's not supported
        return null;
    }

    function is_hidden() {
        var prop = get_hidden_prop();
        if (!prop) return false;

        return document[prop];
    }
</script>