<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-12395541-8', 'jcla1.com');
    // ga('send', 'pageview');

    window.addEventListener("load", setTimeout.bind(null, pageview_delayer, 2000));

    function pageview_delayer() {
        // If the user isn't looking at the page,
        // idle and check again in a few seconds.
        if (is_hidden()) {
            setTimeout(pageview_delayer, 1000);
            return;
        }

        // If he is actually on the page, send the
        // pageview and setup a timer to periodically
        // poll the GA server.
        ga('send', 'pageview');
        setTimeout(event_poller.bind(null, 0), 10000);
    }

    function event_poller(timing) {
        ga('send', 'event', 'time', 'log', timing);
        setTimeout(event_poller.bind(null, timing + 10), 10000);
    }

    function get_hidden_prop(){
        var prefixes = ['webkit','moz','ms','o'];

        // if 'hidden' is natively supported just return it
        if ('hidden' in document) return 'hidden';

        // otherwise loop over all the known prefixes until we find one
        for (var i = 0; i < prefixes.length; i++) {
            if ((prefixes[i] + 'Hidden') in document) {
                return prefixes[i] + 'Hidden';
            }
        }

        // otherwise it's not supported
        return null;
    }

    function is_hidden() {
        var prop = get_hidden_prop();
        if (!prop) return false;

        return document[prop];
    }
</script>