<h2><a name="projects" href="#projects">#</a>Projects</h2>
<p class="entity">
  <span class="info"><i>Ruby</i></span><a href="https://github.com/jcla1/HN2JSON">HN2JSON</a><br>
  A Ruby library for scraping data off <a href="http://news.ycombinator.com/" title="Hackernews">HackerNews</a>.
</p>

<p class="entity">
  <span class="info"><i>Go</i></span><a href="https://github.com/jcla1/yrs2013">YRS 2013 Project</a><br>
  My Project from Young-Rewired-State 2013.<br>
  Analyses Wikipedia articles' structure and lex to find places they need to be improved, using a <a href="http://en.wikipedia.org/wiki/Artificial_Neural_Networks">neural network</a> and a <a href="http://en.wikipedia.org/wiki/Ngram">ngram</a> model with <a href="http://en.wikipedia.org/wiki/Good-Turing">Good-Turing smoothing</a>.
</p>

<p class="entity">
  <span class="info"><i>Javascript</i></span><a href="https://github.com/jcla1/yrs2012">YRS 2012 Project</a><br>
  My Project from Young-Rewired-State 2012.<br>
  It scrapes news sites and builds a model based on your interests, using a <a href="http://en.wikipedia.org/wiki/Bayesian_spam_filtering" title="Bayesian Filter">Bayesian Filter</a>.
</p>

<p class="entity">
  <span class="info"><i>Javascript</i></span><a href="https://github.com/jcla1/ulam">Ulam Spirals Algorithm</a><br>
  An algorithm for generating <a href="http://en.wikipedia.org/wiki/Ulam_spiral">Ulam Spirals</a>, read the corresponding  <a href="/blog/2012/12/28/on-ulam-spirals-and-matrix-generation/">blog post here</a>.
</p>

<p class="entity">
  <span class="info"><i>Ruby</i></span><a href="https://github.com/jcla1/jruby-swing">Swing for JRuby</a><br>
  Some Ruby classes to utilize <a href="http://en.wikipedia.org/wiki/Swing_(Java)" title="Java's Swing Toolkit">Java's Swing Toolkit</a>, for educational purposes.
</p>

<p class="entity"><a href="https://github.com/jcla1">View more projects on Github</a></p>