<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
   	<title>{{ page.title }}</title>
   	<meta name="author" content="Joseph Adams" />

   	<link rel="stylesheet" href="/css/main.css" type="text/css" media="screen, projection" />
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Joseph Adams</a>
    <a class="extra" href="/">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Joseph Adams<br />
        whitegolem@gmail.com
      </p>
    </div>
  </div>
</div>

</body>
</html>
